
div.customer
    div.title
        h3  Customer Reviewer (497)
        span
            a(href="#Action")   write a review
    div(class="review cf")
        div(class="review-cont cf")
            div.cf
                div.photo
                    img(src="#{contextPath}/pics/13.jpg")
                div.cont
                    div.detail
                        p
                        |It is very good!
                    div.time    10/01/2011
            div.author
                p
                    span    Written by:
                    |Jean Smith - New York, NY

        div.paging
            div.cf
                span.sp1    &lt;&lt;Previous
                span.sp2    |
                span.sp2    Page:
                span.sp2    1
                a(href="#Action")   2
                a(href="#Action")   3
                a(href="#Action")   ...
                span.sp2    |
                a(href="#Action")   Next&gt;&gt;







