div.maps
    div.title
        h3.
            Top Products

        p.
            Show the products with best sales.

    div.local(id="map_search",name="map_search")
        div.date-graph
            div.stack.cf
                div.cf.dark.wrap
                    div.graph#stack
                                                                                                                                        //                div.selection.cf
                                                                                                                                        //                    div.cf.dark.wrap
                                                                                                                                        //                        div.graph#selection

            div.topProducts
                span.top Top1: iphone
                span.top Top2: ipad
                span.top Top3: apple touch
