div.g-plus
    div.g-plusone.gp-like-top(name="gp_domain_like",data-size="medium",data-annotation="none")
div.twitter
    img(name="tweet",target="_blank",style="cursor:pointer;",title="tweet",src="#{contextPath}/pics/tweetn.png")

div.facebook
    a(name="fb_share").
        I Share It.

