doctype html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd
-   var contextPath = ''
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    include shared/common_css
    include shared/common_js
    include shared/head
    block stylesheets
    block scripts
    title!=title

  body
    #container
        block pre-header
        include shared/header_default
        block after-header

        block content

        block pre-footer
        include shared/footer_default
        block after-footer