/*cart_list---S*/
.container .section .s-cart .s-cart-m table .points .point .usePoint{
    /*display: block;*/
    /*width: 40px;*/
    margin-right: 180px;
}
.container .section .s-cart .s-cart-m table .points .point .minus{
    margin: 0 5px;
}
.container .section .s-cart .s-cart-m table .sub .total .totalMoney{
    margin-right: 20px;
}
.container .section .s-cart .s-cart-m table .points .img img{
    height: 50px;
    padding: 1px;
    width: 50px;
}

.container .section .s-cart {
    border-radius:10px;
    overflow:hidden;
    border:1px solid #C7C7C7;
    background-color: white;
}

.container .section .s-cart h2 {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 55px;
    background: url(../images/shopcart.png) no-repeat scroll 10px 0;
}

.container .section .s-cart .s-cart-t {
    height: 50px;
    line-height: 50px;
    background: url("../images/search-t-bg.png") repeat-x scroll 0 0;
}

.container .section .s-cart .s-cart-t h3 {
    float:left;
    padding-left: 10px;
    font-size:18px;
}
.container .section .s-cart .s-cart-t a{
    float:right;
    padding-right:10px;
}

.container .section .s-cart .s-cart-m {
}

.container .section .s-cart .s-cart-m .m-nog{
    padding: 80px 0;
    background: url(../images/empty.png) no-repeat scroll 75px 55px;
}
.container .section .s-cart .s-cart-m .m-nog p{
    padding-left: 260px;
    line-height: 36px;
    font-size:14px;
}
.container .section .s-cart .s-cart-m .m-nog p span{
    font-size: 20px;
    font-weight: 700;
}
.container .section .s-cart .s-cart-m .m-nog p a{
    color: #27aff0;
    text-decoration: none;
    margin-right: 5px;
}
.container .section .s-cart .s-cart-m .m-nog p a:hover{
    color: #ff0000;
    text-decoration: none;
}

.container .section .s-cart .s-cart-m table {
    width: 100%;
    text-align:center;
    font-size:14px;
}
.container .section .s-cart .s-cart-m table th,.container .section .s-cart .s-cart-m table td{
    padding:20px 0;
}
.container .section .s-cart .s-cart-m table .item .pic{
    width:140px;
    /*padding-right:10px;*/
    float:left;
}
.container .section .s-cart .s-cart-m table .item .pic img{
    width:50px;
    height:50px;
    border:1px solid #c7c7c7;
    padding:1px;
}
.container .section .s-cart .s-cart-m table .item .info{
    height: 46px;
    line-height: 23px;
    overflow: hidden;
    width: 200px;
}
.container .section .s-cart .s-cart-m table .sub, .container .section .s-cart .s-cart-m table .points{
    font-size:16px;
}
.container .section .s-cart .s-cart-m table .sub .total,.container .section .s-cart .s-cart-m table .all-total .total{
    padding-right:20px;
    text-align:right;
}
.container .section .s-cart .s-cart-m table .points .point {
    padding-right:20px;
    text-align:right;

}
.container .section .s-cart .s-cart-m table .all-total{
    font-size:24px;
    background-color:#fef1b2;
}
.container .section .s-cart .s-cart-m table .action{
    text-align:right;
    padding-right:20px;
}
.container .section .s-cart .s-cart-m table .action>div{
    position:relative;
}
.container .section .s-cart .s-cart-m table .action .pay{
    background-position: -82px -137px;
    margin-top: 30px;
    width: 71px
}
.container .section .s-cart .s-cart-m table .action .payWay{
    color: #000000;
    font-size: 18px;
    font-style: normal;
    margin-right: 10px;
}
.continue_checkout{
    width:145px;
    height: 37px;
    background: url(../pics/payment.jpg) no-repeat scroll 0 0;
}
